<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/styles_home.css">
    <link rel="stylesheet" href=/static/assets/css/Pricing-Tables.css>
</head>
<style>
    #IMG:hover{
        transform: scale(1.1);
    }
    #IMG{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>

<body style="background-color: rgb(63,140,255);">
    <center>
        <h1 style="color: white;font-style: italic;font-family: cursive;"><u> CSE 216 Project</u> </h1>
        <h1 style="color: white;font-style: italic;font-family: cursive;"><i>ESPNcricinfo</i></h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 style="color: white;">By:</h2>
        <h2 style="color: white;">Iftekhar Hakim Kaowsar (1705045)</h2>
        <h2 style="color: white;">Monirul Haque Imon (1705054)</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="{% url 'home' %}" style="color: white;border-color: white;width: 100px;height: 100px;">ENTER</a>
    </center>
</body>

</html>